[2013-11-10 18:09] kelvinpho opened #1 "Re-implement rt.java classes"
Will Java-Runtime-Compiler be able to re-implement classes in rt.jar?

As a quick test, I tried to re-implement java.lang.NullPointerException, but I get "Caused by: java.lang.SecurityException: Prohibited package name: java.lang"

[2013-11-10 19:26] #1 closed, assigned to nobody

[2013-12-22 09:57] sirinath opened #2 "Annotation Usage"
Use http://types.cs.washington.edu/jsr308/ instead of JetBrains annotations.

[2013-12-22 10:00] sirinath opened #3 "Janino May Help Do the Same?"
http://janino.net/; http://docs.codehaus.org/display/JANINO/Home

[2014-05-26 21:30] j256 opened #5 "Simple documentation bug"
On the home page, the "Simple example" says to call "aClass.nextInstance()" which I assume should be newInstance().

Thanks for the library.

[2014-05-26 21:31] #5 closed, assigned to nobody

[2014-06-08 09:37] #3 closed, assigned to nobody

[2015-08-11 01:39] uPaymeiFixit opened #8 "Unclear README"
The README for this project does not explain how to properly take advantage of this project. It looks great, but I'm not sure where to start. It looks like there is a working example included, but I don't see how to use it.

Do you have any example code you could put on the README to show users how to utilize the CachedCompiler class?

[2015-08-11 06:21] peter-lawrey commented on #8
I have updated the documentation a little. It should be clearer as to when it's a good idea to set this.

Your user name has a little irony ;)

[2015-09-08 18:24] aron-bordin opened #9 "package does not exist"
I'm trying to run the compiler inside a REST server, with Maven, but the compiler is not finding my .jar libraries.

mysource.java:3: error: package com.gargoylesoftware.htmlunit does not exist
import com.gargoylesoftware.htmlunit.BrowserVersion;
                                    ^
mysource.java:4: error: package com.gargoylesoftware.htmlunit does not exist
import com.gargoylesoftware.htmlunit.W

[2015-09-08 22:24] peter-lawrey commented on #9
Are you using maven to run a Rest server? The api is design to be used at
run time rather than part of the build process.
I wouldn't use it in maven as it dies so special things to the class path
making it hard to find classes.
I would use it in your program after it is built once it is running.

Regards, Peter.
On 8 Sep 2015 8:24 pm, "Aron Barreira Bordin" <notifications@github.com>
wrote:

[2015-09-08 22:37] aron-bordin commented on #9
I'm using the tomcat7 maven plugin to develop, and managing the project dependencies with Maven.
I'm working with an Angular web application, where you can drag blocks to create an Java application. This webapp communicates a Java REST, and parses these blocks to a Java class. Then I was trying to use this lib to build this string.

My first approach was: http://stackoverflow.com/questions/935175/

[2015-09-08 22:41] peter-lawrey commented on #9
The library looks for classes in the class path of the provided
classloader. If you have multiple classloader you may need to use the one
which can see the classes you wish to compile against.
On 9 Sep 2015 12:37 am, "Aron Barreira Bordin" <notifications@github.com>
wrote:

[2015-09-09 18:31] aron-bordin commented on #9
I needed an compiler integrated with my system, so I reimplemented it.

Thx for the support :)

[2015-09-09 18:31] #9 closed

[2016-04-08 08:07] ikabiljo opened #12 "Cannot compile class after compile error"
After trying to load class that has compile error, CachedCompiler cannot compile anything successfully any more:

    String className = "MyClass";
    String javaCode = "public class MyClass {}";

    try {
      CompilerUtils.CACHED_COMPILER.loadFromJava("z" + className, " some compile error " + javaCode);
    } catch (Exception ex) {
      ex.printStackTrace();
    }

    // This should work, b

[2016-04-08 09:49] leventov commented on #12
Could you please test with the latest snapshot? By specifying in pom:

[code]

Or downloading the latest master tree and building `mvn install` from command line, then specifying compiler dependency version to `2.2.4-SNAPSHOT`

[2016-04-08 16:13] ikabiljo commented on #12
Thanks, that works both for the simple repro, and the actual code that was failing.

[2016-04-23 20:23] sudiptoimpmail commented on #12
I have this code

aClass = CompilerUtils.CACHED_COMPILER.loadFromJava(cl, className, javaCode);
ISandcCalculatedDataPointExecute runner = (ISandcCalculatedDataPointExecute) aClass.newInstance();
ans = runner.execute(keyVal);

but I am getting can not find symbol even when ISandcCalculatedDataPointExecute is in same package in war. This is working eclipse but not in weblogic.

[2016-05-05 13:05] SaeedMasoumi opened #13 "Getting the " package does not exist" exception while loading with custom class loader"
I have a `URLClassLoader ` which i added my jar file dependency to it . The below example throw `package com.mypackage does not exist` exception
[code]
But `Class.forName("com.mypackage.MyClass",true,classLoader)` returns the class object of `MyClass`.

[2016-05-05 15:26] leventov commented on #13
Are you sure you don't confuse `"com.mypackage.MyClass"` and `"mypackage.MyClass"`?

Either way note that this project is probably not supported anymore.

[2016-05-05 17:07] SaeedMasoumi commented on #13
Oh, I was wrong. I forgot to add my jar to the classpath with `CompilerUtils.addClassPath`

[2016-05-05 17:07] #13 closed

[2016-05-31 16:15] ebourg opened #14 "Inconsistent license information"
Hi,

The LICENSE file was switched to LGPL-3 but the headers in the .java files still refer to the Apache-2.0 license. The headers should be updated, or the LICENSE file switched back to Apache-2.0 (which may be a good idea considering that Apache projects are [not allowed](http://www.apache.org/legal/resolved.html#category-x) to use LGPL libraries).

[2016-05-31 16:19] peter-lawrey commented on #14
Thank you for picking that up. It should be Apache 2.0 now.

On 31 May 2016 at 17:15, Emmanuel Bourg <notifications@github.com> wrote:

[2016-06-30 20:04] terrancesnyder commented on #12
+1 any chance we can have a new build here to mvn central instead of snapshot or a least a locked down version we can reference like "rc-01"?

[2016-07-01 07:38] leventov commented on #12
@terrancesnyder doesn't `net.openhft:compiler:2.2.4` released on Maven?

[2016-07-09 15:22] renatoathaydes opened #15 "Add JSR-223 script engine"
Would it be possible to implement and export via `META-INF/services` a JSR-223 script engine for Java?

Just compiling and running the code is not enough for that, as you'd have to keep track of declared variables (that must be added to the engine bindings).

[2016-07-09 20:45] peter-lawrey commented on #15
In theory, yes.  We would need to investigate what that would involve.

On 9 July 2016 at 16:22, Renato Athaydes <notifications@github.com> wrote:

[2016-07-15 18:42] renatoathaydes opened #16 "Allow injection of PrintStreams instead of outputting to System.out/err"
I want to use the compiler in my application, but I don't want the output to go to stdout and stderr.

Is it possible to add a setter somewhere so we can control where the output of the compiler ends up?

[2016-07-15 19:28] leventov commented on #16
Could you please provide a pull request?

[2016-07-15 19:53] renatoathaydes commented on #12
I am using version `2.2.4` and it seems this problem is not resolved.

It looks like a new class can be compiled after an error, as no error is thrown, but the class does not seem to be compiled at all.

Here's [my unit test](https://github.com/renatoathaydes/osgiaas/blob/master/lang/osgiaas-javac/src/test/java/com/athaydes/osgiaas/javac/JavacServiceTest.java#L99) that is currently failing:

[code

[2016-07-15 20:05] renatoathaydes commented on #16
I wouldn't mind, but this library is not documented, which makes it hard to contribute (as to know what may be affected by my changes my only source of information is the *source code*).

If you added just the public API you expect to be used to the README page, that would be really helpful.

Looking at the source, it seems it's not this library printing out errors to sysout, I believe is the Java

[2016-07-15 20:44] leventov commented on #16
As the scope of the change is adding ability to configure printing out, existing users shouldn't be affected by such a change.

This library is in the community support mode so I or @peter-lawrey are keen to accept any PR that looks reasonable. Feel free to use your judgement regarding API design.

[2016-07-16 07:12] peter-lawrey commented on #16
Agreed. As long as existing users would not be impacted we would be happy
to take a PR.

On 15 Jul 2016 9:44 PM, "Roman Leventov" <notifications@github.com> wrote:

[2016-07-16 15:51] #16 closed

[2016-07-16 15:53] #12 closed

[2016-07-16 16:12] peter-lawrey commented on #12
I plan to do a round of releases on Monday.

On 30 Jun 2016 21:04, "terrancesnyder" <notifications@github.com> wrote:

[2016-07-16 18:22] renatoathaydes opened #19 "ClassLoader provided to loadFromJava() is not used to when actually compiling a class"
Classes loaded by the classLoader provided to the `CachedCompiler` are  not visible to the class being compiled.

For example, in OSGi, if you have a class `A` in a bundle, then call `CachedCompiler.loadFromJava()` using that bundle's class loader to compile a class which refers to `A`, an error occurs as `A` is not found.

It seems the problem is that the `JavaFileManager` does not use the classL

[2016-07-16 19:14] peter-lawrey commented on #19
Thank you. I will hold off the a release for this update.

On 16 July 2016 at 19:22, Renato Athaydes <notifications@github.com> wrote:

[2016-07-17 19:43] renatoathaydes commented on #19
I've looked into this. It's a hard one...

There's a [StackOverflow question](http://stackoverflow.com/questions/5819376/java-compiler-api-classloader) about this exact problem with useful answers, but anyway to make this work would be a major rewrite, I think... so don't wait for this, not sure I will have time to do this.

[2016-07-17 20:21] leventov commented on #19
Probably I have already addressed this issue here: https://github.com/OpenHFT/Chronicle-Values/tree/master/src/main/java/net/openhft/chronicle/values

(Chronicle Values used to depend on Java Runtime Compiler, then I copied JRC sources to Values source tree and addressed class loading issues; you could trace it in Chronicle Values commit history).

However, since this problem floated: http://blog.

[2016-07-21 20:16] renatoathaydes commented on #19
I asked on StackOverflow, but after a few days battling with this, I figured it out and answered the question myself!

http://stackoverflow.com/questions/38467876/how-to-get-the-javacompiler-to-use-a-provided-classloader-to-find-a-class

To implement the solution in this project will be hard, I think, but feel free to get some of the code from my implementation of the compiler if you want.

[2016-07-24 07:14] peter-lawrey commented on #2
Closing as has come up for years.

[2016-07-24 07:14] #2 closed

[2016-07-24 07:23] #8 closed

[2016-07-24 07:27] #14 closed

[2016-07-24 10:14] puntogil opened #20 "Source files without license headers - invalid license file"
Hi
The following source files are without license headers.

./compiler/src/test/java/eg/FooBarTee.java

Please, confirm the licensing of code and/or content/s, and add license headers.

https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Clarification

LICENSE.adoc file, usually it is considered as the "NOTICE" file used in projects of this type of

[2016-07-24 11:01] peter-lawrey commented on #20
Thank you for finding that class.

I have included the full LICENSE details at the top level.

On 24 July 2016 at 11:14, puntogil <notifications@github.com> wrote:

[2016-12-31 12:44] peter-lawrey opened #22 "State is shared between CachedCompilers which should not be."
http://stackoverflow.com/questions/41380384/recompile-with-new-class-definition-for-mutation-testing/41381869

for more details

[2017-03-08 06:08] epikosrest opened #23 "Where is .class generated by using CompilerUtils.CACHED_COMPILER.loadFromJava"
I am using CompilerUtils.CACHED_COMPILER.loadFromJava Api to generate Class and is being generated successfully (based on example) but I am not able to figure out where is the .class being generated ? Or what property need to be set to generated .class ?

My apology if this is not right place to ask question.

[2017-03-08 06:44] peter-lawrey commented on #23
The class is entirely generated in memory and the compiled Class is
returned to you. The library code could be changed so the .class file is
saved to dusk but you can always recreate it from source.

Asking questions here or on StackOverflow is fine.

Regards, Peter.

On 8 Mar 2017 06:08, "epikosrest" <notifications@github.com> wrote:

[2017-03-08 15:41] epikosrest commented on #23
Hi peter , thanks for reply and suggestion. I will take look and modify code as needed and try it out. I am basically trying some proof of concept project where I have to create class out of string (java code with swagger annotation) during run time (dynamically) verify if swagger can read/load/scan those class and use the annotation to generate api documentation out of it. Since CompilerUtils gen

[2017-03-08 15:41] #23 closed

[2017-03-15 15:52] rac021 opened #24 "Java Runtime Compiler with Wilfly Swarm"
Hi,

I'm using java runtime compiler in a wildfly swarm project.

When I'm on my IDE, everything works fine, but after building my jar and deploying my app,
I'm have compilation errors that says that some class does not exists ( knowing that this classes ar in the jar app )

Anyone to tells me what's wrong ?

Thank's

R

[2017-04-11 23:36] peter-lawrey opened #25 "Add a command line version"
Allow a snippet of code or compile and run main()

[2017-11-20 20:14] rmbarnett-rice opened #27 "java.lang.UnsupportedOperationException generated when run with Java 9 (but not Java 8)"
[code]

[code]

[2017-11-21 08:05] epickrram commented on #27
Hi,
thanks for the report. While Java9 compatibility is progressing for most of the OpenHFT libraries, there are still a few areas where more work is needed. I'm afraid you've encountered one of them.

We are aware of this issue, and it will be addressed in due course.

[2017-12-15 20:50] vittali opened #29 "How to handle stale cache issues"
This is more a question than an issue. If I understand the code correctly, the purpose of caching is
to avoid compiling the same class twice. But if the source code changes, recompiling should probably take place. So the question is: shouldn't there be some mechanism to auto-recompile in case of source code changes ( perhaps with some hash like md5 or with timestamps ) or at least a method to clea

[2017-12-16 01:12] peter-lawrey commented on #29
The reason for caching is to allow you to have classes which depend on each
other. say you compile A and later compile B which uses A.

Note: the JVM doesn't allow you to load a class more than once, with the
same or different byte code.

What you can do is either use Instrumentation to change a class (with
significant limitations) or load the class into a different ClassLoader.

If a class might

[2017-12-16 10:17] vittali commented on #29
Thank you, that was very helpful.

[2017-12-16 10:17] #29 closed

[2017-12-29 14:52] #25 closed

[2017-12-29 14:53] RobAustin commented on #24
@rac021  closing as this is a question rather than an issue

[2017-12-29 14:53] #24 closed

[2017-12-29 14:54] #22 closed

[2017-12-29 14:54] #20 closed

[2017-12-29 14:54] #19 closed

[2017-12-29 14:55] #15 closed

[2018-01-30 15:13] #27 closed

[2018-04-10 09:40] XShandow opened #30 "reCompile question"
when I compile a java file,the second time cannot work,it is  still the first one.(I will change the code,but will not change the classname)How can make it diffierent when I compile it.
give me help ,3Q.

[2018-04-10 10:58] dpisklov commented on #30
From what I could decode, this is not a question about org.openhft compiler but rather Java compiler.
Regardless, for questions, there's stackoverflow. Github is for real issues.

[2018-04-10 10:58] #30 closed

[2018-05-01 07:40] XjCyan1de opened #32 "How i can add imports?"
i get error:
[code]

[2018-06-13 09:06] vittali opened #33 "Illegal reflective access operation (java 10)"
I get the following error:

[code]

Here is the stack:

[code]
❯ sdk current java

Using java version 10.0.1-oracle
[code]

[2018-07-04 16:36] tomshercliff commented on #33
Hi @vittali - thanks for raising this.

This looks to be the same problem as #27 - which was already addressed for Java 9 but a new version was never released.

I have just released compiler-2.3.1 which should hit maven central very soon - please pick this up and retest.

Cheers,
Tom

[2018-07-04 16:39] RobAustin commented on #33
@tomshercliff thanks Tom for doing this, @vittali I'm going to close this issue, please raise another issue if you have any problems with compiler-2.3.1

[2018-07-04 16:39] #33 closed

[2018-07-20 10:44] vittali opened #34 "Illegal reflective access operation (java 10)"
Issue 33 didn't fix the problem for me:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by net.openhft.compiler.CompilerUtils (file:/home/p/.gradle/caches/modules-2/files-2.1/net.openhft/compiler/2.3.1/1
c598d9164a3bc8f163c19ca750c3a09a69c52af/compiler-2.3.1.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,byte[],int,int)
WARNING: P

[2018-07-20 10:46] RobAustin commented on #34
relates to #33

[2018-07-20 10:49] RobAustin commented on #34
@vittali I see the code is generating WARNINGs but are you saying it does not work, or that you want the WARNINGs removed. If the code is not working can you send the exception.

[2018-07-24 14:05] #34 closed

[2018-11-14 02:05] ZhaoxuanSu opened #35 "I got ClassNotFoundException in Linux"
It runs well in Eclipse IDE in WINDOWS. But I got ClassNotFoundException when running it in Linux. This project is building by SpringBoot and packing by Maven with JDK1.8.0_112.

Exception detail:
Caused by: java.lang.ClassNotFoundException: com.szx.core.logexp.dc.Lecilfaafaafroolfaafaafr
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at java.lang.ClassLoader.loadClass(ClassLoader

[2018-11-14 11:58] dpisklov commented on #35
Can you show the full code? Likely you have inconsistency between class name and class code

[2018-11-15 01:29] ZhaoxuanSu commented on #35
Here's the full code:

package com.szx.core.logexp.impl;

import java.util.UUID;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.szx.core.logexp.LogicalExpression;
import com.szx.core.logexp.LogicalExpressionException;
import com.szx.core.logexp.LogicalExpressionUtils;

import net.openhft.compiler.CompilerUtils;

public class DynamicCompilingLogicalExpression implements Logic

[2018-11-15 21:23] dpisklov commented on #35
What expression are you using for your test? Most likely that expression is not compilable, and just before the error "Caused by: java.lang.ClassNotFoundException: com.szx.core.logexp.dc.Lecilfaafaafroolfaafaafr" you can see (in my example the expression is different proobably but still)"
[code]

[2018-11-21 03:21] ZhaoxuanSu commented on #35
I use it to test a logical expression like this:

The test class:
------------------------------------------------
package com.szx.core.logexp;

public class Test {

	public static void main(String[] args) {
		try {
			LogicalExpression le = LogicalExpression.getInstance();
			boolean test = le.test("true&&true");
			System.out.println(test);
		} catch (LogicalExpressionException e) {
			e.printSt

[2018-11-27 16:57] dpisklov commented on #35
I stripped down your code slightly into a JUnit test case, and it works fine. I'm not sure why you see the issue.
Try my code below and see if it  works for you:
[code]

[2018-12-30 19:18] ccleve opened #36 "Illegal reflective access operation (java 11)"
This is the same as #33 and #34. Adding a bit more information.

I'm using OpenJDK version 11.0.1 on a Mac.

The error is:
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by net.openhft.compiler.CompilerUtils (file:/Users/ccleve/.m2/repository/net/openhft/compiler/2.3.1/compiler-2.3.1.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,

[2018-12-30 19:47] ccleve opened #37 "Feature request: Add the Eclipse compiler as an option"
The Eclipse compiler has some advantages over the built-in javac compiler. You can test it by doing this:

`s_compiler = new EclipseCompiler(); // ToolProvider.getSystemJavaCompiler();
`
Get it with this:
[code]
Obviously you don't want to force a dependency on it, so you could add a static method somewhere to set s_compiler externally. Don't call .getSystemJavaCompiler() if it gets set that way.

[2018-12-30 21:50] dpisklov commented on #37
You are welcome to provide a pull request, we will review and merge as
appropriate

On Sun, 30 Dec 2018, 19:47 Chris Cleveland <notifications@github.com wrote:

[2019-01-23 15:56] MartyIX commented on #36
1) I don't believe the next release will break the code (no mention here: https://jdk.java.net/12/release-notes or here: https://openjdk.java.net/projects/jdk/12/). The warning does not state that it will be denied in *the very next* release. It will be some time in the future, I expect it will take a long time given how many issues (mostly warnigns) there are, in the wild, with transitions from J

[2019-02-04 16:03] dpisklov commented on #36
2.3.4  is released.

[2019-02-16 23:35] Meshredded opened #39 "Get the stack trace"
Hi,
I'd like to capture the stack trace when the compilation fails right now i got the following console output when compilation fails :
[code]
Is it possible to capture this output in a String ?
Thank you.

[2019-02-17 09:43] RobAustin commented on #39
@Meshredded can you provide some sample code to allow me to reproduce this issue, I will then be able to better advise you on how you can obtain the string output you are looking for.

[2019-06-17 16:58] Rednoll opened #41 "NullPointerException suspect at s_standardJavaFileManager"
Creating compiler:

[code]

Stack trace part:
Exception in thread "main" java.lang.NullPointerException
	at net.openhft.compiler.CachedCompiler.compileFromJava(CachedCompiler.java:94)
	at net.openhft.compiler.CachedCompiler.loadFromJava(CachedCompiler.java:143)
	at net.openhft.compiler.CachedCompiler.loadFromJava(CachedCompiler.java:70)

[2019-06-17 23:26] belkirdi commented on #41
I have the same issue. Not able to attach the source code on debug mode

[2019-06-17 23:30] belkirdi commented on #41
aClass.newInstance();
This function on the class is deprecated from JAVA 8 you should use  :
aClass.getConstructor().newInstance();

[2019-06-18 08:04] Rednoll commented on #41
I found a sy

[2019-06-18 08:06] Rednoll commented on #41
I found a stub:

[code]

[2019-07-15 09:51] human-research opened #42 ""java.lang.NoSuchFieldException: override" using loadFromJava (JDK 12, Mac)"
Hello.
I'm using compiler v 2.3.4.
Here is my code:
[code]

[code]

java.lang.NoSuchFieldException: override occured when calling CompilerUtils.CACHED_COMPILER.loadFromJava.

Is it issue with my code or with compiler on Java 12?

[2019-07-15 10:33] dpisklov commented on #42
we don't support Java 12 (not sure if we have such plans even...)

[2019-07-15 12:07] #42 closed

[2019-10-01 11:01] Allsimon opened #43 "Java 12/13/..."
Hello,

Is there any plan to support Java 12 ?
If not, do you know any viable replacement to migrate to ?

[2019-10-05 16:45] matyklugDebbuged opened #44 "java.lang.ClassNotFoundException: com.sun.tools.javac.api.JavacTool"
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" java.lang.AssertionError: java.lang.ClassNotFoundException: com.sun.tools.javac.api.JavacTool
	at net.openhft.compiler.CompilerUtils.reset(CompilerUtils.java:85)

[2019-10-06 06:20] RobAustin commented on #44
Which version of java are you using. Check you have tools.jar on the class path ?

[2019-10-06 10:06] matyklugDebbuged commented on #44
java 8. and where should i get tools.jar?

[2019-10-06 10:24] RobAustin commented on #44
its in the JDK, on my mac

/Library/Java/JavaVirtualMachines/jdk1.8.0_192.jdk/Contents/Home/lib/tools.jar

![image](https://user-images.githubusercontent.com/6506056/66267667-cc47b500-e82b-11e9-9425-1343f56e214a.png)

[2019-10-06 10:25] #44 closed

[2020-02-10 20:53] belkirdi commented on #43
Same question here

[2020-02-11 17:06] dpisklov commented on #43
@belkirdi @Allsimon Chronicle's support policy is to support LTS releases.
So far, LTS releases are Java 8 and Java 11. Next LTS release is Java 17. We don't plan to support versions in between 11 and 17 (except for paid clients).

HTH

[2020-02-11 17:06] #43 closed

[2020-02-11 19:28] belkirdi commented on #43
@dpisklov Thanks for your clarification

[2020-03-09 15:43] oliviercailloux opened #45 "Link to javadoc"
Consider adding a link (or better: a badge) to https://www.javadoc.io/doc/net.openhft/compiler/.

[2020-03-09 17:26] RobAustin commented on #45
could you make this change and issue a pull request, thanks

[2020-03-22 02:28] hfeischl opened #46 "Example working on Eclipse, but causing ClassNotFoundException on EC2 Centos"
I am trying your sample code and it works fine when running it on my mac in eclipse using spring boot. However, when I deploy the jar file to AWS EC2 it can't find the compiler.

here is the exception I get:

nested exception is java.lang.AssertionError: java.lang.ClassNotFoundException: com.sun.tools.javac.api.JavacTool] with root cause
java.lang.ClassNotFoundException: com.sun.tools.javac.api.Ja

[2020-03-22 02:45] adamlalikos commented on #46
@hfeischl  please review https://github.com/OpenHFT/Chronicle-Map/issues/91.

EC2 is probably just running the JRE, Java-Runtime-Compiler needs the JDK (compile tools). You can probably set this up with some ebextensions work.

[2020-03-22 03:36] hfeischl commented on #46
Thanks Adam,

I thought that too. But when I run java -version I get:
OpenJDK Runtime Environment (build 1.8.0_242-b08)  ..  sounds ok, or?

I feel like it's some java setting, or class  path setting, but I am not too familiar how to configure that. I did include the following dependency into my pom.xml:

		<dependency>
			<groupId>com.sun</groupId>
			<artifactId>tools</artifactId>
			<version>1.

[2020-03-22 06:19] RobAustin commented on #46
Please ask questions on stack overflow rather than raising issues here.

Are you using the oracle JDK on AWS, rather than the JRE?

Rob

[2020-03-22 16:55] hfeischl commented on #46
I am using OpenJDK on AWS

[2020-03-22 17:02] adamlalikos commented on #46
@hfeischl CompilerUtils.addClassPath should do the trick.

[2020-03-22 17:11] hfeischl commented on #46
Thank you Adam.
Quick question on CompilerUtils.addClassPath. Is the input the directory string + the jar file name?
e.g.: CompilerUtils.addClassPath("/home/myapp/lib/tools.jar")
or just the directory string CompilerUtils.addClassPath("/home/myapp/lib/") ?

[2020-03-22 17:16] adamlalikos commented on #46
From my experience it’s been two things:
-
1. A directory that holds your JARs compiled classes.
2. A directory that holds your JAR dependencies.

For docker (not exactly your situation) I’d unzip the Spring Boot JAR and copy the classes to one folder and dependencies to another. I’d then give both folders to the ComoilerUtils.

[2020-03-23 14:53] dpisklov commented on #46
@hfeischl

The fact it tells you you're using "OpenJDK Runtime Environment" doesn't mean you're using JDK. Most likely, it's contrary - you're running JRE.

Check the output of `yum list installed | grep openjdk`, I bet you will not see `java-1.8.0-openjdk-devel.x86_64` entry which is a JDK, but instead you will only see:

[code]

both are JRE, not JDK.

So your answer is - install `java-1.8.0-ope

[2020-03-23 14:53] #46 closed

[2020-03-23 22:56] hfeischl opened #47 "Any way to clear the loadedClassesMap in CachedCompiler class"
I would like to dynamically change code during runtime but keep the same class name.

Currently the way it seems to work is that this line of code:
aClass = CompilerUtils.CACHED_COMPILER.loadFromJava(className1, javaCode);
will compile the code when it runs the first time.
The 2nd time it won't compile, it will returned the compiled class from cash instead (even if the input String javaCode is dif

[2020-03-23 23:01] hfeischl commented on #47
btw, thanks a bunch for telling me that OpenJDK is actually a JRE:)

[2020-03-23 23:15] adamlalikos commented on #47
No. This is not how it works. The class is compiled and loaded into the JVM. You’d have to do some acrobatics to ensure garbage collection was run against your class / object. You’ll have to figure out a way to make the class name unique in order to be re-compiled / loaded without restating the JVM.

[2020-03-23 23:33] RobAustin commented on #47
I suggest you just create a new class with a different name and use that.

[2020-03-24 02:22] hfeischl commented on #47
got it - thanks!

[2020-03-24 10:32] dpisklov commented on #47
@hfeischl On the previous issue @RobAustin asked you to avoid raising issues for questions - you can ask questions on stack overflow, tag us (chronicle) and we will answer.

[2020-03-24 10:32] #47 closed

[2020-04-20 20:01] saulpalv opened #48 "Java 14 : CachedCompiler.loadFromJava() throws java.lang.NoSuchFieldException: override"
Code Works Well On JDK 11 but crashes on JDK 11
Im using LibericaJDK

Exception in thread "main" java.lang.AssertionError: java.lang.NoSuchFieldException: override
	at net.openhft.compiler.CompilerUtils.<clinit>(CompilerUtils.java:64)
	at net.openhft.compiler.CachedCompiler.loadFromJava(CachedCompiler.java:140)
	at net.openhft.compiler.CachedCompiler.loadFromJava(CachedCompiler.java:76)
	at Test.D

[2020-04-21 15:23] dpisklov commented on #48
We don't plan to support intermediate (non-LTS) JDK releases. We support JDK 8, JDK 11 and the next one we will support is JDK 17 (TBC).
That said you're welcome to provide a PR.

[2020-05-20 07:51] polarene commented on #48
@saulpalv you have a typo in the issue description:

[2020-07-11 21:26] radai-rosenblatt commented on #48
@dpisklov - the offending code (COmpilerUtils.java line ~ 60) could be turned into:
[code]
instead of using Unsafe to set the override flag to true.
i've tried it locally and it resolves this particular issue.

i bet there's a reason this wasnt done originally though that i'm missing?

[2020-07-13 10:49] dpisklov commented on #48
@radai-rosenblatt `#setAccessible()` call produces loads of warnings on Java 9+ (and IIRC it doesn't even work on certain packages unless you specify some flags, don't remember exact details now), so we opted for unsafe access instead.

[2020-09-27 17:17] umeshshende opened #52 "java.lang.ClassNotFoundException: com.sun.tools.javac.api.JavacTool while executing jar in command line"
I have an app that taking name(excel sheet) from user and I use those name as method and compile at runtime it's working in eclipse when running the project (not from command line ) but getting  java.lang.ClassNotFoundException: com.sun.tools.javac.api.JavacTool exception when running batch file containing command for executing jar file(which has logic for runtime compilation )  I have try with th

[2020-09-27 20:57] dpisklov commented on #35
Closing due to lack of response

[2020-09-27 20:57] #35 closed

[2020-09-27 20:59] dpisklov commented on #52
Duplicate of https://github.com/OpenHFT/Java-Runtime-Compiler/issues/46

[2020-09-27 20:59] #52 closed

[2020-09-28 08:34] umeshshende commented on #52
#46  i have gone through the solution but JDK already installed in my local machine executing jar file local machine(Window 10)
but still getting
**Error**
Reading main index file.....
Envoirement value of folderName :20200928_135704
Reading main index file finish
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: S

[2020-09-28 13:01] dpisklov commented on #52
Are you using CompilerUtils.addClassPath as suggested in comments in #46?

[2020-09-28 16:22] umeshshende commented on #52
Yes but same result
`try {
			String fileContents = getMethodString(newClassName);
			CompilerUtils.addClassPath("C:\\Program Files\\Java\\jdk1.8.0_241\\lib\\tools.jar");
			CompilerUtils.CACHED_COMPILER.loadFromJava(className, fileContents);
		} catch (Exception e) {
			// TODO Auto-generated catch block
			e.printStackTrace();
			return false;
		}
		return true;`
While exception is being getting

[2020-09-28 21:19] dpisklov commented on #52
Well I don't know what can be wrong on Windows - no one over here uses that parody on the OS... But may be you need to check if:

* The path you specified indeed exists (correct version, accessible etc)
* Try using *nix-style path, i.e. `"C:/Program files/..."`
* Instead of `CompilerUtils#addClassPath()` try adding tools.jar to the classpath
* If nothing helps post here proper stack trace and repr

[2020-09-29 15:40] dpisklov commented on #52
Well the accepted solution on Stackoverflow is the correct one. Copying a jar is a hack, not a proper solution. Proper solution is to set your `JAVA_HOME` to point to JDK folder and to correct your `PATH` to use java from the `$JAVA_HOME/bin`, as currently it clearly uses the JVM and not JDK.

[2020-09-29 16:39] umeshshende commented on #52
But another issue is target machine has JDK 14 but in my local machine is jdk8 so it's working but for JDK 14 I need upgrade the version but tool.jar is removed in jdk14 any suggestions on this

[2020-09-29 17:41] dpisklov commented on #52
We don't support Java 14. We only support LTS versions of Java, with latest
being Java 11 and next being Java 17.

On Tue, 29 Sep 2020, 17:40 Umesh Shende, <notifications@github.com> wrote:

[2020-09-30 13:06] umeshshende commented on #52
That mean package will not on java 14 ? any alternative suggestion?

[2020-09-30 13:45] dpisklov commented on #52
Actually tools.jar was removed in Java 9, but this project works fine with Java 9 and Java 11. Which means if instead of hacking things by copying jars you do it properly by fixing the JAVA_HOME and PATH, it will work fine. See e.g. [here](https://stackoverflow.com/questions/52638550/what-is-tools-jar-replacement) for details on tools.jar

[2020-09-30 15:14] umeshshende commented on #52
Ok thank you.

[2021-03-23 11:01] raghuhollap opened #59 "Unable to Load jar file during plugin startup JDK 12"
I am trying to load a jar file during plugin startup. But unable to load it with JDK 12 or later version.
below is the code snippet :
-------------------------------------CODE---------------------------------------------------
URLClassLoader urlSysLoader = new URLClassLoader(new URL[] {url}, sysLoader);
Method method = sysClass.getDeclaredMethod("addURL", parameters);
/**

The addURL() appends the

[2021-04-11 13:15] radiantgurl commented on #35
i have the same issue

[2021-04-23 09:14] #45 closed

[2021-05-28 20:55] st52572 commented on #9
@aron-bordin I think I have kinda similiar problem to yours there. Can you tell me how did you use your integrated compiler or which one it is?

[2021-06-03 15:59] RobAustin commented on #59
this code has not yet been tested against JDK 12, if you find an issue and fix please submit a pull request.

[2021-06-03 15:59] #59 closed, assigned to nobody

[2021-06-14 16:41] BryanWang1 opened #63 "Warnings regarding illegal reflective access operations"
Hi all, I'm getting an issue when trying to create a Chronicle Map or Queue of this sort.

"WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access using Lookup on net.openhft.chronicle.core.Jvm (file:/C:/Users/bryan/.m2/repository/net/openhft/chronicle-core/2.21ea61/chronicle-core-2.21ea61.jar) to class java.lang.reflect.AccessibleObject
WARNING: Please con

[2021-06-14 16:45] RobAustin commented on #63
This is to be expected ( and will likely be like this till we produce the java 17 version ) currently it is written using Java 8 which is why you see these warnings.

[2021-06-14 16:45] #63 closed, assigned to nobody

[2021-08-02 01:25] yangliping86 opened #70 "use spring boot package can't start"
when use in the idea is works well。when package use spring boot the dy class can't not work

[2021-08-04 20:46] ozanaaslan opened #71 "Packages fail to import"
Okay, so.
i've tried to load code, which contains imports from packages, which aren't contained in java by default.
So API imports.

I get this error:
[15:37:25 WARN]: SLF4J: No SLF4J providers were found.
[15:37:25 WARN]: SLF4J: Defaulting to no-operation (NOP) logger implementation
[15:37:25 WARN]: SLF4J: See http://www.slf4j.org/codes.html#noProviders for further details.
[15:37:26 WARN]: /de/m

[2021-08-16 03:30] JerryShea commented on #70
Spring Boot builds a fat jar and has a custom classloader. Java-Runtime-Compiler depends on the classpath being set with all the jars it needs.

Java-Runtime-Compiler does work with Spring Boot, you may need to use `requiresUnpack`

[2021-08-16 03:30] #70 closed, assigned to nobody

[2021-09-30 02:32] JerryShea opened #73 "ConcurrentModificationException when running with Java 17"

[2021-09-30 02:39] #73 closed, assigned to JerryShea

[2021-09-30 02:43] JerryShea commented on #48
@saulpalv I believe this should work now. Have you had the chance to try again?

I am going to close - please reopen if you are still seeing this problem

[2021-09-30 02:47] #48 closed

[2021-09-30 02:48] JerryShea commented on #39
Closing as here has not been a response. @Meshredded please re-open if you have some more information

[2021-09-30 02:48] #39 closed

[2021-09-30 02:49] JerryShea commented on #71
@SebyPlays can you provide a unit test which shows the problem?

[2021-09-30 02:50] JerryShea commented on #41
I believe that this should work with Javas 8, 11 and 17. Closing, but please re-open if you can reproduce this problem

[2021-09-30 02:50] #41 closed

[2021-10-07 09:07] peter-lawrey opened #74 "Classes fail to import"
This works locally, and in the individual teamcity build on chronicle1, however in the build-all it started failing on the same machine this morning.

[2021-10-11 02:04] JerryShea opened #76 "RuntimeCompileTest not configured for Java 11+"
on Azul Zing and Java 17 builds e.g.
[code]

[2021-10-13 09:28] peter-lawrey commented on #76
The Fatal Error doesn't appear to be an error from our code.

[2021-10-13 09:45] #76 closed, assigned to nobody

[2021-12-21 12:37] minborg opened #85 "Fix flaky test"

[2021-12-21 12:59] minborg commented on #85
Run under Java 11 locally:
[code]

[2021-12-21 13:24] minborg commented on #85
Apparently, some implementations of `listLocationsForModules()` are not thread-safe.

[2021-12-22 20:06] #85 closed, assigned to minborg

[2022-01-18 00:35] Marcono1234 opened #91 "Support JDKs with strong encapsulation"
Recent JDK versions, such as JDK 17, strongly encapsulate their internals, see [JEP 403](https://openjdk.java.net/jeps/403).
Therefore using your library fails for these versions by default because the internal JDK fields are not accessible:
[code]

This can be worked around by using `--add-opens jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED`, but that is rather cumbersome and brittle.
Would i

[2022-01-18 00:58] Marcono1234 opened #93 "Feature request: Support collecting non-error diagnostics"
Currently this library only considers error diagnostics ([relevant source](https://github.com/OpenHFT/Java-Runtime-Compiler/blob/65cd828cc3c6759f3690fd0b8e21896bfe9c405a/src/main/java/net/openhft/compiler/CachedCompiler.java#L108)) and ignores all other diagnostic kinds.

Would it be possible to support collecting other diagnostic types as well (if explicitly configured)?

For example, for my use

[2022-02-07 16:43] moritzvieli commented on #71
Had the same error when my classpath pointed to wrong directories:
CompilerUtils.addClassPath...

[2022-04-05 16:39] glukos opened #103 "Sporadic ConcurrentModificationException when compiling lots of method readers under Java 17"
[code]

[2022-04-06 12:04] #103 closed, assigned to glukos

[2022-05-11 08:31] victornoel commented on #91
I'm also getting the same with `java.lang`:
[code]

[2022-05-11 09:13] minborg commented on #91
Here is a general article about running the Chronicle libraries under Java 17. Perhaps there are some findings there you can apply?

https://chronicle.software/chronicle-support-java-17/

[2022-05-13 16:32] victornoel commented on #91
Thx @minborg, it helps.

In the end, for this module, I only had to add `--add-opens java.base/java.lang=ALL-UNNAMED --add-opens jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED` :)

[2022-05-16 18:54] Marcono1234 commented on #91
@minborg, has this actually be fixed (because I don't see any related changes on `develop` or `ea`)?
Using `--add-opens` is merely a workaround and cannot be applied easily in all usage scenarios. Additionally users of your library might be reluctant to use this because it risks that your library stops working for future Java versions, possibly even between patch versions of the JDK.

[2022-05-17 07:33] minborg commented on #91
This is a known issue and will be addressed in a later release.

[2022-05-17 07:36] victornoel commented on #91
@minborg out of curiosity, what can be done from the lib point of view to improve this?

I've tried looking into this, and never really understood how this work except for authorizing those kind of accesses from the runtime JVM with `--add-opens`

[2022-05-17 07:47] minborg commented on #91
Generally speaking, an obvious way to reduce problems like this is to remove the use of reflection (on objects that are not exported by the module system). Support for the module system itself is another way to improve library quality. That said, Java 8 does not support the module system.

[2022-05-17 08:20] victornoel commented on #91
Indeed ^^

Ah that's what I am interested in. So it is possible for the lib to include some configuration that says it uses some closed APIs (such as the one discussed above) and it will work out of the box?
I was originally worried that for security reason, it would always be the user of the lib that must decide what the lib can access :/

[2022-05-17 08:31] caogenfu opened #109 "Java 17 load java class throws "java.lang.NoSuchFieldException: override""

[2022-05-17 09:20] minborg commented on #109
Are you able to show a stack trace on this?

[2022-05-17 09:56] caogenfu commented on #109
│ Caused by: java.lang.NoSuchFieldException: override
│     at java.lang.Class.getDeclaredField(Class.java:2610) ~[?:?]
│     at net.openhft.compiler.CompilerUtils.<clinit>(CompilerUtils.java:60) ~[compiler-2.4.1.jar!/:?]
│     at com.zion.backend.support.utils.Utils.lambda$initClassPathForRuntimeCompiler$0(Utils.java:103) ~[classes!/:?]
│     at java.util.stream.ForEachOps$ForEachOp$OfRef.accept(

[2022-08-25 17:36] glukos opened #128 "Support passing additional command line options to Wires#CACHED_COMPILER"
Example use case: pass `--preview` to allow compilation of method readers that import classes with preview features in the code.
Currently, constructor that uses the default options `Arrays.asList("-g", "-nowarn");` is hardcoded. For example, we can add a system property that lists additional options.

[2022-09-28 08:05] victornoel commented on #19
Hey people, I'm facing the same issue and I'm not sure I understand everything, but couldn't we use the solution provided here https://stackoverflow.com/a/1564025 to inject the right classpath (as long as it's available on disk…) into the `CachedCompiler`? This would be a solution in user code, not in this project I think…

Or is that not enough?

[2022-10-17 21:07] Marcono1234 opened #117 "GitHub releases are outdated"
The GitHub releases tab (https://github.com/OpenHFT/Java-Runtime-Compiler/releases) is outdated. It still lists compiler-2.21ea80 from 2021 as latest release.

Could you please create new GitHub release entries for the versions you have released in between?
Or, in case you are not planning to update the GitHub releases anymore, you could hide them by clicking the gear icon next to the "About" sect

[2022-10-17 21:23] Marcono1234 commented on #91
@minborg, would you mind reopening this issue? This problem still does not seem to be solved in the latest version, and I find it a bit weird / confusing to close an issue for a problem which is still unresolved (the solutions mentioned above are only workarounds).

I don't want to rush you in any way; I just think it would be more transparent to keep this issue open until the problem is solved. T

[2022-10-18 14:51] alamar commented on #117
Done!

[2022-10-18 14:51] #117 closed, assigned to nobody

[2022-10-31 02:09] JerryShea commented on #109
Hi @caogenfu. This project builds and passes its tests in our CI environment against all our build scenarios including Java 8, 11 & 17. Can you re-try with the latest version to see if you can reproduce?

[2022-11-01 00:06] JerryShea commented on #74
@peter-lawrey @RobAustin I haven't seen this happen recently so should we close?

[2022-11-01 00:10] JerryShea commented on #71
Good advice @moritzvieli

See also https://github.com/OpenHFT/Chronicle-Wire#spring-boots-and-dynamic-compilation-in-chronicle-wire

I am going to close this as no response received, but if you (@SebyPlays) can help us reproduce then we can reopen

[2022-11-01 00:10] #71 closed, assigned to nobody

[2022-11-01 00:11] JerryShea commented on #93
@Marcono1234 it sounds like a useful feature, but not one that anyone else has requested. You are welcome to submit a PR which we will review.

[2022-11-02 15:00] #109 closed, assigned to nobody